body {
background: #f2f2f2;
font-family: 'Source Sans Pro', sans-serif;
}

div{
  height: 50px;
}

canvas {
  margin: 0px auto; /*задаем канвасу границы, стили*/
  border: none;
  display:block;
  background: #002633;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: -10px;
}



.header {
  background:  url(IMG/3395.jpg) no-repeat center / cover ;
  height: 180px;
  filter: alpha(Opacity=75); /* Полупрозрачность для IE */
  opacity: 0.75; /* Полупрозрачность для других браузеров */
  margin: auto;
}
.h_d {
  width: 1200px;
  margin: auto;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 400px;

}

.discrip {
  width: 1200px;
  margin: auto;
  height: 220px;
  background: white;
}
 .h4 {
  color: #000000;
  font-weight: normal;
  font-size: 20px;
  padding-right: 20px;
}
.h3 {
  color: #000000;
  font-weight: normal;
  margin-top: 0px;
  font-size: 25px;
}
