body {

font-family: 'Source Sans Pro', sans-serif;
}

canvas {
  margin: 0px auto; /*задаем канвасу границы, стили*/
  border: none;
  display:block;
  background: #00004d;
  border-radius: none;
  margin-top: -10px;
  margin-left: -10px;
}

.canvas_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }

 .main_menu {
  height: 50px;
  width: 1900px;
  background: #140033;
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.wrap {
    position: initial;
    background: none;
    overflow: visible;
    height: initial;
    text-align: left;
}

nav {
    position: absolute;
    height: 50px;
    width: 100%;
    background: #1B242F;
    border-bottom: 3px solid #04C2C9;
    text-align: left;
    z-index: 99;
}

nav .wrap div {
    padding: 12px 20px;
    font-size: 12pt;
    cursor: pointer;
    transition: color .5s;
    text-transform: uppercase;
    margin: 0 20px;
    padding: initial;
    font-size: initial;
    display: inline;
    color: white;
  }
nav .wrap div:hover {
  color: #ff80df;
}

 .greetings {
   background: none;
   color: white;
   font-size: 55px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 400px;
   width: 70%;
   right: 270px;
 }
 .name {
   color: #ff80df;
 }

 .view_button {
  border-color: white;
  color: white;
  background: none;
  height: 50px;
  width: 200px;
  font-size: 22px;
  transition-duration: 0.8s;
  cursor: pointer;
  font-weight: lighter;
 }
 .view_button:hover {
  background: #04C2C9;
  border: none;
  font-size: 23px;
 }
 .about {
   padding-top: 1300px;
   height: 1000px;
   width: 1900px;
 }
 .portfolio {
   left: 0;
   height: 1000px;
   width: 1900px;
   background:  #f2f2f2;
   margin-left: -5px;
 }

 .A_topic {
 font-size: 45px;
 color: #404040;
 margin-top: -170px;
 text-transform: uppercase;
 }

 .flex.row {
    flex-direction: row;
  }
  .flex_row_label_wrap {
   height: 355px;
   position: relative;
   padding-left: 250px;
   padding-top: 70px;
  }
  .quality_item {   /* Задаем всем блокам одинаковое местоположение на странице */
    width: 300px;
    height: 355px;
    float: left;
    text-align: center;
    margin-right: 50px
  }
  .quality_item h3 {
    color: #404040;
    font-size: 25px;

  }
  .quality_item p {
  font-size: 18px;
  color: #8c8c8c;
  }
  .quality_image {
   background-color: #04C2C9;
   width: 150px;
   height: 150px;
   position: relative;
   left: 30%;
   font-size: 80px;
   color: white;
   border-radius: 100px;
   cursor: pointer;
   transition-duration: 0.7s;
  }
  #quality_icons {
  padding-top: 35px;
  cursor: pointer;
 }
.quality_image:hover {
   background-color: white;
   color: #04C2C9;
   font-size: 100px;
}

  .label {
    margin: 15px 10px;
    padding-left: 25px;
  }

  .fixed {                  /* CSS для закрепления меню при прокрутке*/
    position: fixed;
    width: 100%;
    top: 0px;
  }
.JS_Photo {
width: 350px;
height: 350px;
border-radius: 200px;
position: relative;

}
.my_avatar {
  border: 4px dashed #f370dd6b;
  border-radius: 200px;
  width: 352px;
  height: 352px;
  position: absolute;
  margin-left: 350px;
  margin-top: 70px;
}
